nav.navbar.navbar-inverse(style="margin-bottom: 0")
  div.navbar-header
    a.navbar-brand(href="#contacts") Contact manager
  div.collapse.navbar-collapse#bs-example-navbar-collapse-1
    ul.nav.navbar-nav