div#header
	nav.navbar.navbar-inverse(style="margin-bottom: 0")
		div.navbar-header
			a.navbar-brand(href="/") Broviki
		div.collapse.navbar-collapse#bs-example-navbar-collapse-1
			ul.nav.navbar-nav
div#content #{content}

