body
 form#loginForm
   div.login_form
     img(height="90")
     span.message
     div
       input(type="text", id="name", name="name", placeholder="login")
     div
       input(type="password", id="password", name="password", placeholder="password")
     div
       input(type="submit", value="Login")