div.container
  div.row.clearfix#login-form-container
    // img.displayed(src="/assets/img/logo.png", alt="logo")
    div.col-md-5.well.well-lg.text-center
      h1 Login
      div
        ul#login-errors.parsley-error-list
      form#login-form.form(data-validate="parsley")
        fieldset
          div.control-group
            div.controls
              input#login-username-input(type="text" name="username" placeholder="Username" value=login
                data-required="true" data-notblank="true")
              span.help-block
          div.control-group.mb20
            div.controls
              input#login-password-input.input-medium(type="password" placeholder="Password" name="user_password"
                value="" data-required="true" data-notblank="true" data-rangelength="[5,25]")
              span.help-block
          a#login-btn.btn.btn-primary.btn-lg(href="#" data-bypass) Login