style(type="text/css").
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ABA9AA;
    font-family: sans-serif;
  }

  .login_form {
    width: 362px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background-color: #343234;
    border-radius: 10px;
    box-shadow: 0 0 20px;
  }

  .project {
    margin: auto;
    width: 362px;
    text-align: right;
    font-size: x-small;
  }

  .login_form div {
    margin: 4px auto 4px auto;
    width: 200px;
  }

  .login_form input {
    padding: 3px;
    text-align: center;
    width: 200px;
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .login_form input:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .login_form input[type="submit"] {
    width: 120px;
    margin: auto;
    display: block;
  }

  .login_form img {
    margin: 10px 0 -2px 0;
  }

  #message {
    display: block;
    color: rgb(255, 214, 52);
    text-align: center;
    font-size: small;
    height: 16px;
  }
body
 form#loginForm
   div.login_form
     img(height="90", src="/logo.png")
     span#message
     div
       input(type="text", id="name", name="name", placeholder="login")
     div
       input(type="password", id="password", name="password", placeholder="password")
     div
       input(type="submit", value="Login")